/*******************************\
    PROPERTIES AND VARS
\*******************************/

:root {
    --main-left: 75px;
    --center: 50%;
}

/*******************************\
    EFFECTS AND ANIMATIONS
\*******************************/

/*FADING*/

.a-fade-in {
    animation-delay: 0.1s;
    animation: fade-in 0.2s forwards ease-in;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*SLIDE LEFT*/

.a-slide-l {
    animation-delay: 0.1s;
    animation:  slide-left 0.6s forwards ease-in-out;
}

@keyframes slide-left {
    0% {
        left: -100%;
    }

    100% {
        left: var(--main-left);
    }
}

/*SLIDE UP TO CENTER*/

.a-slide-up-center {
    animation-delay: 0.1s;
    animation:  slide-up-center 0.6s forwards ease-in-out;
}

@keyframes slide-up-center {
    0% {
        top: 150%;
    }

    100% {
        top: var(--center);
    }
}