/*

TABLE OF CONTENT

# Default Styles

# HEADER  47

# SIDEBAR  69
- Nav Menu

# SLIDESHOW  142

# MAIN  283
- Articles

# FOOTER  370
- Supports
- Social
- Issues

*/

/**********************\
    DEFAULT STYLES
\**********************/

/*
*
* - Common Padding Left: 25px
* - COmmon Padding Right: 25px
*
*/

* {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    font-family: 'Lato', sans-serif;
}

/**********************\
    HEADER
\**********************/

header {
    position: absolute;

    display: block;

    width: 100%;
    height: 50px;

    padding-left: 25px;

    background-color: #2b2b2b;
}
    #blog-name {
        position: absolute;
        top: 50%;

        transform: translateY(-50%) scaleY(0.9);
        
        color: #918b80;
        font-size: 1.5rem;

        cursor: pointer;
    }

#side-bar {
    position: fixed;
    right: 0;

    z-index: 3;

    overflow: visible;
    
    width: 12%;
    height: 100vh;

    padding-right: 25px;

    background-color: #2b2b2b;

    color: #918b80;
    font-size: 1.5rem;
}
    #logo {
        position: absolute;
        top: 40%;
        left: 0;

        z-index: 4;

        transform: translateX(-50%);

        width: 100px;
        height: 100px;

        border-radius: 50%;

        background-color: white;
        background-size: 100%;
    }

    #cart {
        position: absolute;
        top: 15px;
        right: 25px;

        transform: scaleY(0.9);

        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        width: 75px;

        letter-spacing: 0.2em;
        font-size: 1.2rem;

        cursor: pointer;
    }
        #cart img {
            width: 20px;
            height: 20px;

            margin-right: 10px;
        }

        #cart:hover {
            color: white;
        }

    #nav-bar {
        position: absolute;
        top: 60%;
        right: 25px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
        #nav-bar li {
            transform: scaleY(0.9);

            padding-bottom: 15px;

            letter-spacing: 0.2em;
            font-size: 1.2rem;

            cursor: pointer;

            transition: 0.2s;
        }
            #nav-bar li:hover {
                color:white;
            }

/**********************\
    SLIDESHOW
\**********************/

.slideshow-area {
    top: 50px;
    
    width: 88%;
    height: calc(100vh - 50px);

    background-color: black;
}
    .title-block {
        top: 75px;
        left: 75px;

        transform: scaleY(0.9);

        width: 33%;
        height: auto;
    }
        .title-block h2 {
            margin-left: -7.5px;
            margin-bottom: 75px;

            font-size: 10rem;
            line-height: 85%;
        }

        .title-block a {
            color: #4db8ff;

            transition: 0.2s ease-in-out;
        }
            .title-block a:hover {
                color: #04ffb4;

                cursor: pointer;
            }

    .go-title {
        top: 45%;
        left: 50%;

        transform: translate(-50%, -50%);

        text-align: center;

        opacity: 0.8;
    }
        .go-title h2 {
            transform: scaleY(1.2);

            font-size: 12rem;
        }

    .go-btn {
        position: absolute;
        bottom: 15px;
        z-index: 4;

        display: block;

        width: 200px;
        height: 30px;

        border: 3px solid white;
        border-radius: 10%;

        text-align: center;

        font-size: 2rem;
        font-weight: bolder;
        color: white;

        background: transparent;

        transition: 0.2s ease-out;
    }
        .go-btn:hover {
            border-color: #23a6fd;

            background-color: #23a6fd;

            cursor: pointer;
        }

    .go-explore {
        left: 30px;
    }

    .go-build {
        right: 30px;
    }

    .discovery-title {
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        text-align: center;

        cursor: pointer;
    }
        .discovery-title h2 {
            transform: scaleX(1.1);

            width: 60%;

            margin: auto;
            margin-bottom: 0.6em;
            
            font-family: 'Lato', sans-serif;
            font-weight: bold;
            font-size: 5rem;
            color: #04ffb4;
        }

        .discovery-btn {
            transform: translateX(-10%);

            border-radius: 10%;
            padding: 10px 20px;

            font-size: 2rem;
            font-weight: bold;
            color:white;

            background-color: #23a6fd;

            transition: 0.2s;

            cursor: pointer;
        }
            .discovery-btn:hover {
                color: black;

                background-color: white;
            }

/**********************\
    MAIN BODY
\**********************/

main {
    position: relative;

    top: 50px;

    width: 88%;
}
    .blank-space {
        position: relative;

        height: 100px;

        background-color: #1e1e1e;
    }

    .article {
        position: relative;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        width: 100%;
        height: 380px;

        background-color: #212121;
    }
        .thumb {
            height: 100%;
        }

        .article-text-con {
            position: relative;

            height: 100%;
        }
            .article-text-block {
                position: absolute;

                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%) scaleY(0.9);

                text-align: left;
                letter-spacing: 0.75em;
                font-weight: 200;

                cursor: pointer;
            }
                .article-title {
                    margin-bottom: 20px;

                    font-size: 2rem;
                    font-weight: 100;
                    color: white;
                }

                .article-desc {
                    font-size: 2rem;
                    color: #787878;
                }
                
                .article-read {
                    font-weight: bold;
                    color: #5e69ff;
                    
                    cursor: pointer;
                    transition: all 0.25s;
                }
                    .article-read:hover {
                        color: #202fff;
                        text-decoration: underline;
                    }

        .short-flex-part {
            flex-shrink: 1;

            width: 33%;
        }

        .long-flex-part {
            flex-grow: 2;
        }

/**********************\
    FOOTER
\**********************/

footer {
    position: relative;

    width: 88%;
    height: auto;

    padding: 20px 30px 10px 30px;

    background-color: #1e1e1e;
}
    .upper-footer {
        position: relative;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        width: 100%;

        margin-bottom: 35px;

        color: #a09393;
        font-size: 1.4rem;
    }
        .flex-list {
            position: relative;

            width: auto;

            margin-right: 12%;
        }
            .flex-list li {
                padding: 5px 0px;

                cursor: pointer;

                transition: 0.2s;
            }
                .flex-list li:hover {
                    color: white;
                }

        .newsletter {
            position: relative;

            display: inline-block;

            margin-right: 12%;

            width: 30%;
        }
            .newsletter h3 {
                margin-bottom: 10px;
            }
            
            .news-input {
                position: relative;

                display: inline-block;

                width: 100%;

                padding: 2px;
                padding-right: 5px;

                margin-bottom: 15px;

                background-color: #454545;
            }
                .news-input input {
                    position: relative;

                    display: inherit;

                    width: 70%;
                    min-height: 20px;

                    margin-right: 5px;
                    padding: 5px;

                    color: #454545;

                    background-color: #1e1e1e;
                }

                .sign-up {
                    position: absolute;
                    top: 50%;
                    right: 15%;
                    transform: translate(50%, -50%);

                    letter-spacing: 0.3em;
                    color: black;
                }

            .newsletter p {
                font-size: 1rem;
            }

            .social {
                position: relative;

                display: block;
            }
                .social h3 {
                    margin-bottom: 10px;
                }

                .social ul {
                    position: relative;

                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                }

                    .social ul li {
                        position: relative;

                        width: 30px;
                        height: 30px;

                        margin-right: 5px;
                        border-radius: 50%;
                        padding: 3px;

                        text-align: center;

                        background-color: #454545;
                        
                        cursor: pointer;

                        transition: 0.2s;
                    }

                        .social ul li:hover {
                            background-color: #bfbfbf;
                        }

                        .social ul li img {
                            position: absolute;
                            top: 50%;
                            left: 50%;

                            transform: translate(-50%, -50%);

                            width: 60%;
                            height: 60%;
                        }


    .lower-footer {
        position: relative;

        width: 100%;
    }
        .copyrights {
            transform: scaleY(0.9);
            color: #a09393;
            font-size: 1.3rem;
        }

/**********************\
    CUSTOMIZATION
\**********************/
